example {
    background-color: lightblue;
    color: navy;
    margin-left: 20px;
}

:root {
    --fg: #121212;
    --bg: white;
}

.dark {
    --bg: #121212;
    --fg: white;
}

body {
    background-color: var(--bg);
    color: var(--fg)
}

select,
button{
  padding: 5px 10px;
}